body {
  background-color: #1d1e23; /*  here is the color  */
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #656772;
  font-family: "Fira Code";
  padding-left: 5%;
  font-size: 22px;
  text-align: left;
  letter-spacing: 0.06em;
}
a:link {
  color: #57463a;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #57463a;
  background-color: transparent;
  text-decoration: none;
}
#main_list {
  padding-left: 0;
}
#main_list li {
  display: inline;
}
a:hover {
  color: rgb(161, 184, 161);
}

circled_list {
  list-style-type: circle;
}